.player-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    font-family: Roboto;
    font-style: normal;
    color: white;
    h3 {
        font-size: 18px;
        margin: 0;
        font-weight: 300;
    }
    p {
        font-size: 16px;
        font-weight: 200;
        margin: 0;
    }
}

.player-title {
    display: flex;
    flex-direction: row;
}

.player-icon {
    margin-right: 12px;
}

.player-name {
    margin-left: 10px;
}

.time-rect {
    background: #423E43;
    border-radius: 5px;
    width: 12%;
}

.white-rect {
    border: 1px solid #2AD9FF;
}

.black-rect {
    border: 1px solid #27E595;
}

.chess-match-container {
    display: flex;
    justify-content: space-around;
    height: 100%;
    min-height: calc(100vh - 80px);
    background: #423E43;
    align-items: center;
}

.chat-container {
    width: 250px;
    min-height: calc(100vh - 80px);   
    display: flex;
    align-items: stretch; 
}

.chat-box {
    margin: 20px 0;
    border: 1px solid black;
    background: #5D5D66;
    width: 100%;
    border: 4px solid #BFBFCD;
    border-radius: 14px;
    h1 {
        text-align: center;
        color: #F2F2F2;
        font-size: 26px;
        font-family: 'Roboto';
        font-weight: 500;
        margin: 15px 0;
    }
}