.bet-subpanel {
    background: #1E1E22;
    border: 4px solid #2AD9FF;
    border-radius: 20px;
    width: calc(100% - 10px);
    h1 {
        text-align: center;
        font-family: "Roboto";
        font-weight: 500;
        font-size: 20px;
        color: #F2F2F2;
        margin: 10px 0;
    }
}
