.options-container {
    display: flex;
    justify-content: space-around;

    .wdl-option {
        border: 1px solid grey;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5em;

        &.wdl-auth {
            border-color: #2DFD83;
        }
        
        &.wdl-auth:hover {
            border-width: 3px;
            margin: -2px;
            cursor: pointer;
        }

        img {
            width: 40px;
            height: 40px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0.5em;
        }

        p {
            margin: 0;
        }
    }

    .move-option {
        border: 1px solid;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 8px;
        
        &.move-auth:hover {
            border-width: 3px;
            margin: -2px;
            cursor: pointer;
        }

        p {
            margin: 0;
            margin-top: 0.5em;
        }

        &.not-auth {
            border-color: white !important;
        }
    }


}

.move-options {
    height: 85px;
}

.wdl-options {
    height: 92px;
}

input[type="submit"] {
    margin: 8px auto;
    display: block;
    background: #E5AF27;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding: 6px 20px;
    border-radius: 14px;
}

.status-text {
    text-align: center;
    color: #F2F2F2;
}

.odds-text {
    text-align: center;
    font-size: 10px !important;
}