.options-container {
    display: flex;
    justify-content: space-around;
    // p {
    //     margin: 4px auto;
    //     font-family: 'Roboto';
    //     color: #F2F2F2;
    //     font-size: 13px;
    // }
    // label {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    // }
    // input {
    //     margin: 0 auto;
    //     display: block;
    // }

    .wdl-option {
        border: 1px solid #2DFD83;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5em;
        cursor: pointer;

        &:hover {
            border-width: 3px;
            margin: -2px;
        }

        img {
            width: 40px;
            height: 40px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0.5em;
        }

        p {
            margin: 0;
        }
    }
}

.move-options {
    height: 100px;
}

.wdl-options {
    height: 92px;
}

input[type="submit"] {
    margin: 8px auto;
    display: block;
    background: #E5AF27;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding: 6px 20px;
    border-radius: 14px;
}

.status-text {
    text-align: center;
    color: #F2F2F2;
}

.odds-text {
    text-align: center;
    font-size: 10px !important;
}