.game-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.regular-text {
    margin-left: 1em;
    color: white;
}

.join-button {
    background: #FADF9B;
    border-radius: 10px;
    min-width: 10em;
    min-height: 3em;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    border:none;
    font-size: 15px;

}