.leaderboard-container {
    margin: 1em;
    width: 36em;
    position: relative;

    .leaderboard-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        h2 {
            color:#F2F2F2;
            font-size: 32px;
            margin: 10px;
        }

        .reset-button {
            background-color: grey;
            width: 31px;
            height: 31px;
            border-radius: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .active {
            cursor: pointer;
            background-color: #64FF8F;
        }
    }
    
    .leaderboard-card {
        display: flex;
        flex-direction: column;
        height: 20em;
        width: 35em;
        overflow: scroll;
        background: #1E1E22;
        border: 7px solid;
        border-radius: 10px;
        border-color: #99F2FF;
    
        .user-rank {
            width: 60%;
            background-color: #64FF8F;
            text-align: center;
            align-self: center;
            margin: 12px;
            padding: 6px;
            border-radius: 10px;
            font-size: 22px;
            font-weight: bold;
            cursor: pointer;
        }
    
        .leaderboard-row {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color: white;
            padding-top: 10px;
            padding-bottom: 10px;
    
            .row-start {
                display: flex;
                flex-direction: row;
                align-items: center;
    
                .rank {
                    margin-left: 10px;
                    font-weight: bold;
                    font-size: 25px;
                    background-color: #E5AF27;
                    width: 38px;
                    height: 38px;
                    border-radius: 20px;
                    color: #1E1E22;
    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
        
                .username {
                    margin-left: 25px;
                    font-weight: bold;
                    font-size: 25px;
                    width: 300px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
    
                .current-user {
                    color: #64FF8F;
                }
            }
    
    
            .winnings {
                margin-right: 25px;
                font-weight: bold;
                font-size: 23px;
                white-space: nowrap;
    
                &.red {
                    color: #FFCDC6
                }
    
                &.green {
                    color: #CDFFBC;
                }
            }
        }
    }
}
