.player-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    font-family: Roboto;
    font-style: normal;
    color: white;
    h3 {
        font-size: 18px;
        margin: 0;
        font-weight: 300;
    }
    p {
        font-size: 16px;
        font-weight: 200;
        margin: 0;
    }
}

.player-title {
    display: flex;
    flex-direction: row;
}

.player-icon {
    margin-right: 12px;
}

.player-name {
    margin-left: 10px;
}

.time-rect {
    background: #423E43;
    border-radius: 5px;
    width: 12%;
}

.white-rect {
    border: 1px solid #2AD9FF;
}

.black-rect {
    border: 1px solid #27E595;
}
