.player-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    font-family: Roboto;
    font-style: normal;
    color: white;

    h3 {
        font-size: 18px;
        margin: 0;
        font-weight: 300;
    }
    p {
        font-size: 16px;
        font-weight: 200;
        margin: 0;
    }

    .player-name-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
   
}

.player-title {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.player-icon {
    margin-right: 12px;
}

.time-rect {
    background: #423E43;
    border-radius: 5px;
    padding: 2px;
}

.white-rect {
    border: 1px solid #2AD9FF;
}

.black-rect {
    border: 1px solid #27E595;
}
