.main-page {
    background-color: #1E1E22;
}

.main-dashboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 8em;
    width: 100%;
}

.welcome-message {
    margin-left: 1em;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: white;
    align-self: center;
    flex: 1 9999 0%;
}

.searchBar {
    min-width: 400px;
    text-align: center;
}

.browse-button {
    border:none;
    background-color: #FFC430;
    border-radius: 5px;
    min-width: 50px;
    min-height: 25px;
    font-weight: bold;
    margin-left: 1em;
}

.betting-header {
    margin-left: 1em;
    color: white;
}

.card-box {
    background: #1E1E22;
    // border-radius: 15px;
    width: 12%;
    border: 7px solid;
    border-radius: inherit;
    border-color: #99F2FF;
    display: inline-block;
    width: 25em;
    height: 15em;
    margin: 1em;
    position: relative;
}